<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JOBS API List</title>
</head>

<body>
    <h2>JOBS Module API List</h2>
    <hr>

    <p>0. Static APIs (GET):
        <a href="http://galib04.pythonanywhere.com/api/choices/" target="_blank">
            http://galib04.pythonanywhere.com/api/choices/
        </a>
    </p>

    <p>1. Create Job (POST): http://galib04.pythonanywhere.com/api/job/</p>

    <p>2. Job List (GET):
        <a href="http://galib04.pythonanywhere.com/api/job/?no_of_vacancies=20&category=1&employer_id=10&age=43&gender=F" target="_blank">
            http://galib04.pythonanywhere.com/api/job/?no_of_vacancies=20&category=1&employer_id=10&age=43&gender=F
        </a>
    </p>

    <p>3. Job Details (GET):
        <a href="http://galib04.pythonanywhere.com/api/job/1/" target="_blank">
            http://galib04.pythonanywhere.com/api/job/1/
        </a>
    </p>

    <p>4. Edit Job (PUT): http://galib04.pythonanywhere.com/api/job/1/</p>

    <p>5. Delete Job (DELETE): http://galib04.pythonanywhere.com/api/job/1/</p>

    <p>6. Apply Job (POST): http://galib04.pythonanywhere.com/api/job/apply/1/</p>

    <p>7. Create Category (POST): http://galib04.pythonanywhere.com/api/category/</p>

    <p>8. Category List (GET):
        <a href="http://galib04.pythonanywhere.com/api/category/" target="_blank">
            http://galib04.pythonanywhere.com/api/category/
        </a>
    </p>

    <p>9. Edit Category (PUT): http://galib04.pythonanywhere.com/api/category/1/</p>

    <p>10. Delete Category (DELETE): http://galib04.pythonanywhere.com/api/category/1/</p>

    <p>11. Applied Jobs by Seeker ID (GET):
        <a href="http://galib04.pythonanywhere.com/api/job/seeker/2/" target="_blank">
            http://galib04.pythonanywhere.com/api/job/seeker/2/
        </a>
    </p>

    <p>12. Posted Job List by Employer ID (GET):
        <a href="http://galib04.pythonanywhere.com/api/job/employer/1/" target="_blank">
            http://galib04.pythonanywhere.com/api/job/employer/1/
        </a>
    </p>

    <p>13. Job-wise Seeker List (GET):
        <a href="http://galib04.pythonanywhere.com/api/job/1/seeker/" target="_blank">
            http://galib04.pythonanywhere.com/api/job/1/seeker/
        </a>
    </p>

</body>
</html>

